:root {
    --blanco: #FFF;
    --negro: #000;
    --rojo: #ffe66d;
    --primario_sobnac: #81c2d6;
    --primarioOscuro_sobnac: #50aaca;
    --secundario_sobnac: #202b2f;

    --fuentePrincipal_navidad: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primario_sobnac);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 3rem auto;
}

h1
{
    text-align: center;
    color: var(--secundario_sobnac);
    font-family: var(--fuentePrincipal_navidad);
    font-size: 6rem;
}

/** Header **/

.header {
    display: flex;
    justify-content: center;
    background-color: var(--primarioOscuro_sobnac);
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/** Grid **/

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 1rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

/** Navegacion **/
.navegacion {
    background-color: var(--rojo);
    padding: 1rem 1rem;
    display: flex;
    justify-content: right;
    gap: 2rem 0;
}

.navegacion__enlace {
    font-family: var(--fuentePrincipal_navidad);
    color: var(--primarioOscuro_sobnac);
    font-size: 3.5rem;
    margin-right: 2rem;
    border-color: #202b2f;
}

.navegacion__enlace:last-of-type {
    margin-right: 0;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario_sobnac);
}


/** Card **/

.card {
    background-color: var(--primarioOscuro_sobnac);
    padding: 1rem;
    border-radius: 10px;
}

.card__nombre {
    font-size: 4rem;
    color: var(--secundario_sobnac);
}

.card__descripcion {
    font-size: 2.8rem;

    padding: 1rem;
}

.card__nombre,
.card__descripcion {
    font-family: var(--fuentePrincipal_navidad);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

.card__imagen{
    border-radius: 10px;
}
